.DS_Store
__pycache__
*.pyc
.*ipynb.*
logs
processing.log
posting.log
processed.csv
content.json
content-backup.json
content-original.json
testing
images
bin
include
lib
lib64
local 
pip-selfcheck.json
